<!-- Educación y Experiencia -->
<div class="card mat-card mx-auto" id="education-experience">
    <div id="info">
        <div class="row align-item-center">
            <!-- Columna -->
            <div class="col-lg-6">
                <div class="title mb-1">
                    <h3>Educación</h3>
                    <i class="fa-solid fa-plus"></i>
                </div>
                <!-- Elemento EDU -->
                <div class="border-left border-primary pt-2 pl-4 ml2">
                    <div class="position-relative ex-me mb-4">
                        <h5 class="text-primary">Bachiller en Economía y Administración<i class="fa-solid fa-pen-to-square"></i><i class="fa-regular fa-square-minus"></i></h5>
                        <p class="text-muted mb-1"><strong>Colegio Provincial de Educación Secundaria N° 23</strong> <small>MARZO 2012 - DICIEMBRE 2017</small></p>
                        <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum itaque voluptatem sit autem ullam voluptatum earum, sint ipsam ratione incidunt accusamus optio laudantium adipisci, exercitationem nostrum fugit et aliquid animi.</p>
                    </div>
                </div>
                <!-- END Elemento EDU -->
                <!-- Elemento EDU -->
                <div class="border-left border-primary pt-2 pl-4 ml2">
                    <div class="position-relative ex-me mb-4">
                        <h5 class="text-primary">Licenciatura en Sistemas<i class="fa-solid fa-pen-to-square"></i><i class="fa-regular fa-square-minus"></i></h5>
                        <p class="text-muted mb-1"><strong>Universidad de la Patagonia Austral</strong> <small>2018 - PRESENTE</small></p>
                        <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum itaque voluptatem sit autem ullam voluptatum earum, sint ipsam ratione incidunt accusamus optio laudantium adipisci, exercitationem nostrum fugit et aliquid animi.</p>
                    </div>
                </div>
                <!-- END Elemento EDU -->
            </div>
            <!-- Columna -->
            <div class="col-lg-6">
                <div class="title mb-1">
                    <h3>Experiencia</h3>
                    <i class="fa-solid fa-plus"></i>
                </div>
            
                <div class="border-left border-primary pt-2 pl-4 ml2">
                    <div class="position-relative ex-me mb-4">
                        <h5 class="text-primary">Administrador de Finanzas<i class="fa-solid fa-pen-to-square"></i><i class="fa-regular fa-square-minus"></i></h5>
                        <p class=" text-muted mb-1"><strong>Pastas Anita</strong> <small>AGOSTO 2020 - FEBRERO 2021</small></p>
                        <p class="text-muted">Atención al público. Diseño de publicidad para las ventas. Administrador de las finanzas del microemprendimiento y del stock del mismo
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Educación y Experiencia -->