  <!-- Proyectos -->
  <div class="card mat-card mx-auto" id="projects">
    <div id="info">
        <div class="title mb-1">
            <h3>Proyectos</h3>
            <i class="fa-solid fa-plus"></i>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
            <!-- Elemento Proyecto -->
            <div class="col-sm-6 col-md-6 col-xl-4">
                <div class="card">
                    <img src="assets/img/Proyecto1.png" class="card-img-top" alt="ImagenProyecto">
                    <div class="card-body">
                      <h5 class="card-title justify-content-between">Proyecto Portfolio: Argentina Programa <i class="fa-solid fa-pen-to-square"></i><i class="fa-regular fa-square-minus"></i></h5>
                      <p class="card-text">Proyecto realizado como práctica para la segunda etapa de Argentina Programa, #YoProgramo</p>
                      <a href="https://k-cr.github.io/portfolio-unidad2-AP/" class="btn btn-primary mb-1 ms-2">Live Demo</a>
                      <a href="https://github.com/k-cr/portfolio-unidad2-AP" class="btn btn-secondary mb-1 ms-2">Source code</a>
                    </div>
                  </div>
            </div>
            <!-- END Elemento Proyecto -->
        </div>
    </div>
</div>
<!-- END Proyectos -->