  <!-- Proyectos -->
  <div class="card mat-card mx-auto" id="projects">
    <div id="info">
        <div class="title mb-1">
            <h3>Proyectos</h3>
            <i class="fa-solid fa-plus"></i>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
            <!-- Elemento Proyecto -->
            
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <li *ngFor="let projects of projectList">
                <div class="card">
                    <img src="assets/img/Proyecto1.png" class="card-img-top" alt="ImagenProyecto">
                    <div class="card-body">
                      <h5 class="card-title justify-content-between">{{projects.name}} <i class="fa-solid fa-pen-to-square"></i><i class="fa-regular fa-square-minus"></i></h5>
                      <p class="card-text">{{projects.description}}</p>
                      <a href="{{projects.linkLiveDemo}}" class="btn btn-primary mb-1 ms-2">Live Demo</a>
                      <a href="{{projects.linkSourceCode}}" class="btn btn-secondary mb-1 ms-2">Source code</a>
                    </div>
                  </div>
                </li>
            </div>

            <!-- END Elemento Proyecto -->
        </div>
    </div>
</div>
<!-- END Proyectos -->